    <style>

    </style>

  <div keyboard-keys>
    <div class="main" snapscroll fit-window-height snap-index="snapIndex" after-snap="afterSnap(snapIndex)" snap-animation="snapAnimation" ng-swipe-up="swipeUp()" ng-swipe-down="swipeDown()">
      <div>
        <h1>Blurred site</h1>
        <p>Aqui vamos a vender tus fotos a precios resonables</p>

      </div>
      <div>
        <h3>Tias</h3>
        <p>Fotacos de chonis.</p>
      </div>
      <div>
        <h3>Tios</h3>
        <p>Fotacos de canis</p>
      </div>

      <!--
      <div></div>
      <div></div>
      -->
    </div>
    <ul class="indicators">
      <li><a ng-click="snapIndex=0"><span ng-class="{active: snapIndex == 0}"></span></a></li>
      <li><a ng-click="snapIndex=1"><span ng-class="{active: snapIndex == 1}"></span></a></li>
      <li><a ng-click="snapIndex=2"><span ng-class="{active: snapIndex == 2}"></span></a></li>
      <!--<li><a ng-click="snapIndex=3"><span ng-class="{active: snapIndex == 3}"></span></a></li>
      <li><a ng-click="snapIndex=4"><span ng-class="{active: snapIndex == 4}"></span></a></li>-->
    </ul>
</div>
