    <style>
      body {
        margin: 0;
        color: white;
        font-size: 0.75em;
        font-family: 'Open Sans', sans-serif;
      }
      div {
        box-sizing: border-box;
      }
      h1, h2, h3 {
        padding: 1em 0 0.5em;
        margin: 0;
      }
      p {
        margin: 0.25em 0 0.5em;
      }
      .examples {
        color: orange;
      }
      a {
        color: orange;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
      .main > div {
        height: 100vh;
        padding-right: 60px;
        padding-left: 1em;
        box-shadow: 0 -5px 15px rgba(0,0,0,0.6) inset;
      }
      .main > div:nth-child(odd) {
        background: rgb(10, 84, 92);
      }
      .main > div:nth-child(even) {
        background: rgb(5, 57, 63);
        color: aliceblue;
      }
      .nested {
        height: 200px;
        background: rgb(5, 159, 179);
      }
      .nested div {
        text-align: center;
        line-height: 200px;
        border: 5px rgb(10, 84, 92) solid;
      }
      .nested span {
        width: 128px;
        font-size: 5em;
        font-weight: bold;
        margin-top: -10px;
        line-height: 128px;
        border-radius: 100%;
        display: inline-block;
        vertical-align: middle;
        border: 10px #fff solid;
      }
      .clearfix {
        overflow: hidden;
        height: auto;
      }
      .clearfix > div {
        width: 50%;
        float: left;
        height: 200px;
        overflow: auto;
        margin-top: 1em;
      }
      .indicators {
        position: fixed;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 40px;
        height: auto;
        margin: 0;
        padding: 0;
        list-style: none;
        z-index: 1;
      }
      .indicators li {
        line-height: 30px;
      }
      .indicators a {
        display: block;
        text-align: center;
        text-decoration: none;
      }
      .indicators span {
        width: 14px;
        height: 14px;
        background: white;
        border-radius: 100%;
        display: inline-block;
        vertical-align: middle;
      }
      .indicators .active {
        background: orange;
      }
      @media screen and (min-width: 768px) {
        body {
          font-size: 1em;
        }
        .indicators {
          right: 11px;
        }
        .indicators li {
          line-height: 22px;
        }
      }
      @media screen and (min-width: 1152px) {
        .indicators {
          right: 25px;
        }
      }
    </style>

  <div keyboard-keys>
    <div class="main" snapscroll fit-window-height snap-index="snapIndex" after-snap="afterSnap(snapIndex)" snap-animation="snapAnimation" ng-swipe-up="swipeUp()" ng-swipe-down="swipeDown()">
      <div>
        <h1>angular-snapscroll</h1>
        <p>angular-snapscroll adds vertical scroll-and-snap functionality to angular.</p>
        <ol>
          <li>JS-only implementation</li>
          <li>Requires only angular core</li>
          <li>5.7kB when minified, 2.1kB when gzipped</li>
        </ol>
        <p>This is a suite of snapscroll examples that demonstrantes:</p>
        <ul>
          <li>full-page snapscroll (fit-window-height attribute)</li>
          <li>keyboard navigation (try pressing the up and down arrow keys)</li>
          <li>resetting current snap position after a manual scroll (try to scroll by dragging the scrollbar)</li>
          <li>snapIndex binding (the pagination showing on the right)</li>
          <li>persisting snapIndex on page reload (using window.location.hash)</li>
          <li>touch support (using <a href="https://github.com/marmorkuchen-net/angular-swipe">angular-swipe</a> module)</li>
          <li><a href="#" ng-click="snapIndex=1">nested snapscrolls</a></li>
          <li><a href="#" ng-click="snapIndex=2">before and after callbacks</a></li>
        </ul>
      </div>
      <div>
        <h3>Nested snapscrolls</h3>
        <p>Instances can be nested, side by side etc and won't interfere with each other. The first nested snapscroll below also demostrates how to keep vertical swipe gestures localized to a nested snapscroll instance.</p>

      </div>
      <div>
        <h3>Callbacks</h3>
        <p>Callbacks are passed a snapIndex parameter. In the beforeSnap callback, this is the index being snapped to while in the afterSnap callback, it's the index just snapped to.</p>
        <p>Returning false in the beforeSnap callback disables snapping. In this example, it's impossible to snap to the last snap (unless by scrolling manually).</p>
        <p>Note: callbacks are executed on the initial snap on page load and also after a manual scroll.</p>

        <div class="clearfix">
          <div>
            <p>before-snap messages:</p>
            <ul>
              <li ng-repeat="message in beforeSnapMessages track by $index">{{ message }}</li>
            </ul>
          </div>
          <div>
            <p>after-snap messages:</p>
            <ul>
              <li ng-repeat="message in afterSnapMessages track by $index">{{ message }}</li>
            </ul>
          </div>
        </div>
      </div>
      <div></div>
      <div></div>
    </div>
    <ul class="indicators">
      <li><a ng-click="snapIndex=0"><span ng-class="{active: snapIndex == 0}"></span></a></li>
      <li><a ng-click="snapIndex=1"><span ng-class="{active: snapIndex == 1}"></span></a></li>
      <li><a ng-click="snapIndex=2"><span ng-class="{active: snapIndex == 2}"></span></a></li>
      <li><a ng-click="snapIndex=3"><span ng-class="{active: snapIndex == 3}"></span></a></li>
      <li><a ng-click="snapIndex=4"><span ng-class="{active: snapIndex == 4}"></span></a></li>
    </ul>
</div>
