<div class="home-div">
  <div ng-repeat="item in content" class="content-parent-div">

    <div class="row">
      <div class="col-md-12 nopadding">
        <div class="col-md-1 content-col-user-icon">
          <img ng-src={{item.icon}} class="img-circle content-user-icon">
        </div>
        <div class="col-md-11 nopadding">
          <slick lazy-load="ondemand" slides-to-show="3" slides-to-scroll="1" variable-width="true" class="slick-imgs">
            <div ng-repeat="image in item.images">
                <img  ng-src={{image.url}} class="img-rounded content-user-imgs">
            </div>
          </slick>
        </div>
      </div>
    </div>
  </div>
</div>
