/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/*DESPLAZAMIENTO PARA EL MENU LATERAL*/
.modal-open-left {
  transform: translate(320px, 0);
<<<<<<< HEAD
=======
}
.indicators li {
  line-height: 30px;
}
.indicators a {
  display: block;
  text-align: center;
  text-decoration: none;
}
.indicators span {
  width: 14px;
  height: 14px;
  background: white;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
}
.indicators .active {
  background: orange;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 1em;
  }
  .indicators {
    right: 11px;
  }
  .indicators li {
    line-height: 22px;
  }
}
@media screen and (min-width: 1152px) {
  .indicators {
    right: 25px;
  }
}
*::-webkit-scrollbar{
  width:6px!important
}
*::-webkit-scrollbar-thumb{
  background-color:rgba(0,0,0,.2)
}
*::-webkit-scrollbar-track{
  background:rgba(255,255,255,.08)
>>>>>>> origin/master
}

/*ASIDE*/
.user-icon {
  max-width: 80px;
  max-height: 80px;
}

.aside {
  background-color: #78909c;
  color: #fff;
  height: 100%;
}

.full-height {
  height: 100%;
}
